/* 
#272727 b1
#747474 b2
#FF652F r
#FFE400 y
#14A76C g
*/

body {
    text-align: center;
    background: #272727;
}

form {
    background: #272727;
    color: #E8E8E8;
    padding: 10px;
}

.submitButton {
    background: #FF652F;
    border-color: #272727;
    color: #272727;
}

.resetButton {
    background: #FF652F;
    border-color: #272727;
    color: #272727;
}

.jumbotron {
    background: #FF652F;
    padding: 30px 50px;
    margin: 20px 0px 10px 0px;
}

.trainDisplay {
    background: #747474;
    margin: 10px 0px;
}

.inputDisplay {
    background: #747474;
    margin: 10px 0px;
}

.resetDisplay {
    background: #747474;
    margin: 10px 0px 20px 0px;
}

.card-header {
    background: #FF652F;
}

.form-row {    
    padding: 5px;    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}